[role=main] {
  width: 80vw;
  margin: 0 auto; }

.c-masthead {
  position: relative;
  text-align: center; }

.c-masthead::before,
.c-masthead::after {
  display: block;
  content: ''; }

.c-masthead::before {
  margin: 3em; }

.c-masthead::after {
  margin: 5em; }

.c-masthead__avatar {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 50%;
  background: #eee;
  padding: 2px; }

.c-masthead figcaption {
  display: inline-block;
  position: relative;
  top: -1em;
  margin-left: 1em; }

.o-article {
  position: relative; }

.o-article__link {
  color: black;
  text-decoration: none; }

.c-index .o-article::before,
.c-index .o-article::after {
  display: block;
  content: '';
  margin: 4rem 0; }

.o-post-date--square {
  position: absolute;
  text-align: right;
  left: -4.2em; }

.o-post-date--square {
  border: 1px solid black;
  padding: 5px;
  padding-right: 1.1em; }

.o-post-date--square__day {
  font-size: 1.5rem; }

.o-post-date--square__year {
  position: absolute;
  top: 1em;
  right: -0.4em;
  font-size: 0.6rem;
          transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); }
