<header class="c-masthead">
  <figure>
    <img class="c-masthead__avatar" src="http://s.gravatar.com/avatar/6e0ed765699d27f1302adff76bc18b0e?s=80" alt="avatar">

    <figcaption>
      <h1 class="c-masthead__title">An hero</h1>
      <span class="c-masthead__subtitle">coder by day, an hero by night</span>
    </figcaption>
  </figure>
</header>
