---
import avatar from '../assets/khoan.jpeg';
---
<header class="c-masthead">
  <a href="/">
    <figure>
      <img class="c-masthead__avatar" src={avatar.src} alt="avatar">

      <figcaption>
        <h1 class="c-masthead__title">An hero</h1>
        <span class="c-masthead__subtitle">coder by day, an hero by night</span>
      </figcaption>
    </figure>
  </a>
</header>
