---
import '../styles/normalize.css';
import '../styles/site.css';

import MastHead from '../components/MastHead.astro';

const { pageTitle } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div id="main" role="main">
      <MastHead />
      <slot />
    </div>
  </body>
</html>
